.top-header-container {
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
}

.top-container {
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: space-around;
}

.topo-logo-container {
    display: flex;
    align-items: center;
}

.top-logo {
    height: 20px;
}

.top-text {
    font-size: 16px;
    color:rgba(235, 76, 107, 1);
    margin-left: 10px;
}

.header-container {
    display: flex;
    flex-direction: column;
}

.header-top-container {
    display: flex;
    justify-content: space-around;
}

.web-logo {
    height: 30px;
    margin-top: 20px;
}

.web-heading {
    font-size: 26px;
}

.elements-container {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.element {
    height: 22px;
}

.nav-options-container {
    display: flex;
    align-self: center;
    margin-right: 150px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-list-option {
    list-style-type: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.line {
    border: none;
    height: 1px;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    background-color: #333;
    width: 100%;
}


